.background {
background-color:powderblue;
}

.background1 {
background-color: lightgreen;
}

.background2 {
background-color:pink;
}

.background3 {
background-color:yellow;
}

.background4 {
background-color:rgba(255,0,0,0.6);